/__pycache__
/node_modules/.cache
api/__pycache__
.DS_Store
/api/keys.txt

api/bad.csv
api/example.csv
api/bad2.csv
api/badData.json
api/good.csv
api/tfTest.py
api/urlscan.log
api/settings.json
api/.coverage

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/PythonSettings.json
/.vs/ProjectSettings.json
/.vs/URL_Scanner.com/v16/.suo
