.SearchbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: pre-wrap;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#large {
    margin-top: 279px;
}

#small {
    margin-top: 5px;
}

.report {
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: left;
    flex-direction: column;
    white-space: pre-wrap;
    margin: auto;
    width: 500px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0px 0px 12px 2px;
    overflow: scroll hidden;
}

.report::-webkit-scrollbar {
    display: none;
}

#dark .report {
    border: 1px solid #3baefb;
    color: #3baefb;
    box-shadow: 0px 0px 12px 2px #4b6388;
}

#light .report {
    border: 1px solid #2b2b2b;
    color: #262626;
    box-shadow: 0px 0px 12px 2px;
}

.search {
    width: 534px;
    height: 40px;
    font-size: 20px;
    text-indent: 10px;
    border-radius: 5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;

}

#dark .search {
    background-color: #171717;
    color: rgb(200, 200, 200);
}

#light .search {
    background-color: #dedede;
    ;
    color: rgb(34, 34, 34);
}

.search:focus {
    outline: none;
}