.App{
    height: fit-content;
    justify-content: center;
    font-family: 'Bookman Old Style', sans-serif;
                                                
}

body {
    background-color: #222222;
    }