.App{
    height: fit-content;
    justify-content: center;
    font-family: 'Bookman Old Style', sans-serif;
    width: 100%;
    min-height: 100vh;                                            
}
   
#light{
    background-color: #f9f9f9;
    }
        
#dark{
    background-color: #212121;
    }


body {
    margin: 0;
    padding: 0;
    }

.topRow{
    display: flex;
}

.switch {
    margin: 10px;
    float: right;
    margin-left: auto;
    }


