.App{
    height: fit-content;
    justify-content: center;
    align-items: center;
    font-family: 'Bookman Old Style', sans-serif;
    width: 100%;
    min-height: 100vh;   
}

.container {
    margin: auto;
    margin-top: 3.5rem;
    text-align: center;
    align-items: center;
    width: 50%;
    min-height: 100vh; 
    margin-bottom: 15rem;
    }

.history{
    text-align: center;
}

.topRow{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1030;
}

#dark .topRow{
    background-color:inherit;
    box-shadow: 0px 0px 12px 2px #4b6388;
}

#light .topRow{
    background-color: inherit;
    box-shadow: 0px 0px 12px 2px;
}

.toprowchild {
    display: flex;
    width: 95%;
}
   
#light{
    background-color: #f9f9f9;
    color: #262626;
    overflow: hidden;
    }
        
#dark{
    background-color: #212121;
    color: #3baefb;
    overflow: hidden;
    }

body {
    margin: 0;
    padding: 0;
    }

.topRow{
    display: flex;
}

.switch {
    margin: 10px;
    float: right;
    margin-left: auto;
    }

.history{
    color: inherit;
}

